body{
    font-family: 'Times New Roman', cursive;
    margin-top: 70px;

}

.transparent{
    background-color: rgba(175,76,6,0.7);
}

#banner{
    background: linear-gradient(rgb(139,69,19,0.6), rgba(139,69,19,0.6)),
    url(building.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact {
    background: linear-gradient(rgb(139,69,19,0.6), rgba(139,69,19,0.6)),
    url(building.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#social {
    background: linear-gradient(rgb(139,69,19,0.6), rgba(139,69,19,0.6)),
    url(building.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

